#qt_footer_logo+ strong {
	font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
    top: 3px;
}
#qt_footer_tr{
	margin: 15px 0 0 25%;
    position: absolute;
    text-align: center;
}
#qt_footer_tr >td{
    text-align: center;
}
#qt_footer_tr span {
	top:20px;
	font-family: '微软雅黑';
	font-weight: 400;
	color: #CCCCCC;
}
#main-fotter-div{
	margin-left: 0;
    position: relative;
    background-color: #333333; 
    z-index:1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 116px;
}