/* 前台首页菜单栏的鼠标移入事件出现左侧线条 */
.skin-black .sidebar-menu>li>a:hover{
	border-left: 3px solid #0ff;
}
/* 图标字体间距 */
.skin-black .sidebar-menu>li>a>i{
    margin-right: 15px;
}
/* 鼠标移入更换首页菜单的雪碧图图标 */
.skin-black .sidebar-menu>li>a:hover .qj1{
	background-position: -20px 0;
}
.skin-black .sidebar-menu>li>a:hover .lx2{
	background-position: -60px 0;
}
.skin-black .sidebar-menu>li>a:hover .ks1{
	background-position: -380px 0;
}
.skin-black .sidebar-menu>li>a:hover .sh1{
	background-position: -100px 0;
}
.skin-black .sidebar-menu>li>a:hover .zx1{
	background-position: -140px 0;
}
.skin-black .sidebar-menu>li>a:hover .zkz1{
	background-position: -180px 0;
}
.skin-black .sidebar-menu>li>a:hover .ckzl1{
	background-position: -220px 0;
}
.skin-black .sidebar-menu>li>a:hover .home1{
	background-position: -260px 0;
}
.skin-black .sidebar-menu>li>a:hover .bm1{
	background-position: -300px 0;
}
.skin-black .sidebar-menu>li>a:hover .jk1{
	background-position: -340px 0;
}
.skin-black .sidebar-menu>li>a:hover .ht1{
	background-position: -420px 0;
}
.skin-black .sidebar-menu>li>a:hover .ckbm1{
	background-position: -460px 0;
}

#qt_footer_logo+strong {
	font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	top: 3px;
}

#qt_footer_tr {
	margin: 15px 0 0 25%;
	position: relative;
	text-align: center;
}

#qt_footer_tr>td {
	text-align: center;
}

#qt_footer_tr span {
	top: 20px;
	font-family: '微软雅黑';
	font-weight: 400;
	color: #CCCCCC;
/* 	color: white; */
	color: #666666;
}

#main-fotter-div {
	margin-left: 0;
	position: relative;
	background-color: #eeeeee;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 76px;
/*     margin-top: 40px; */
    padding-top: 30px;
    padding-left: 19%;
    border-top: 3px solid #c7000a;
}

/**首页内容中的col8左侧所有box */
#main_col8{
	padding-left:15px;
	padding-right:0;
}
#main_col8 .box{
	margin-bottom:15px;
}

/**首页内容中的col4右侧所有box */
#main_col4{
	padding-left:15px;
	padding-right:15px;
}
#main_col4 .box{
	margin-bottom:15px;
}

/**首页通知模块的样式*/
#announcement-box{
	margin-bottom:15px;
}


/* //项目状态进度条样式 */
#jdtMain {
	position: relative;
	margin-left: 30px;
	top: -5px;
	height: 80px;
}
#jdtMsg{
	min-height:40px;
}

#upDiv{
	position:relative;	
}

#upDiv>div {
	/* 	float:left; */
	position: absolute;
	top: 0px;
	left: 80px;
	color: #666666;
	text-align: center;
}

#upDiv .upSX {
	/* 	float:left; */
	position: relative;
	top: -51px;
	left: 50%;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid #999999;
	z-index: 3;
}

#downDiv>div {
	position: absolute;
	top: 40px;
	left: 80px;
	color: #999999;
}

#downDiv {
	text-align: center;
}

#downDiv .downSX {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#downDiv .downSX>span {
	display: block;
	margin: 0 auto;
}

#jdtDivInner {
	/* 	width: 0%; */
	/* 	position: left; */
	/* 	border-radius: 0px; */
	/* 	z-index: 2; */
	
}

#jdtDivOut {
	position: relative;
	margin-left: 0px;
	margin-top: 15px;
	left: 0px;
	width: 95%;
	height: 10px;
	border: 0px solid;
	background-color: #f0f0f0;
	display: block;
	border-radius: 35px;
	min-height: 0px;
	/* 层级高度 */
	z-index: 2;
}

#jdtNum {
	color: red;
	/* 		float: right; */
	/* 	position: relative; */
	/*     margin: -36px 100px 0px 0px; */
}

#jdtTitle .jdtNumClass {
	right: 30px;
	top: 50px;
	font-size: 30px;
	position: absolute;
	/* 		float: right; */
	/*     margin-right: 30px; */
	/*     margin: -36px 100px 0px 0px; */
}

#jdtNameT {
	font-size: 16px;
	color: #990000;
	position: relative;
	float: left;
	left: 20px;
	top: 10px;
}

#jdtName {
	position: relative;
	float: left;
	left: 40px;
	top: 10px;
	font-size: 16px;
	/* 	padding-top: 25%; */
	/*     padding-bottom: 25%; */
	/*     border-width: 0px; */
	/* 	display: table-cell; */
	/* /*     vertical-align: middle;	 */
	/*     text-align:center; */
	/* /*     line-height:100px; */
}

#jdtMain .progress-bar {
	position: clear;
	/*     float:clear; */
	width: 16.6%;
	z-index: 2;
}

#jdtComment {
	display: block;
	position: relative;
	top: 15px;
	left: 100px;
	text-align: center;
	height: 50px
}

#jdtComment .jdtColor {
	display: block;
	float: left;
	width: 30px;
	height: 15px;
	top: 20px;
	left: 90px;
	height: 15px;
	margin-left: 30px;
}

#jdtComment .jdtTEXT {
	display: block;
	float: left;
	width: 50px;
	height: 15px;
	top: 20px;
}
/* //考试日历样式 */
.TS_KS_CAL {
	clear: both;
	position: relative;
	top: 10px;
	height:265px;
}

.TS_KS_CAL .ui-datepicker-div {
	width: 95px;
	float: left;
}

.TS_KS_CAL .title_top {
	height: 38px;
	width: 100%;
	line-height: 38px;
	/* background:#3b86d7; */
	background: #fff;
}

.TS_KS_CAL .title_001 {
	width: 60px;
	float: left;
}

.TS_KS_CAL .img_001 {
	position: relative;
	bottom: 4px;
	width: 46px;
}

.TS_KS_CAL .title_002, .TS_KS_CAL .title_003, .TS_KS_CAL .title_004 {
	width: 62px;
	height: 40px;
	line-height: 40px;
	background: url("/img/biaozhi_002.png");
	float: left;
	text-align: center;
	color: white;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.TS_KS_CAL .title_select {
	background: url("/ks/img/biaozhi_002_.png");
	color: #ed6805;
}

.TS_KS_CAL .item {
    margin-top: 5px;
	width: 20%;
	height: 25px;
	line-height: 25px;
	float: right;
	text-align: center;
	border:1px solid #cccccc;
	border-radius:2px;
}

.TS_KS_CAL .item_select {
	background: #dfdfdf;
    margin-top: 5px;
	width: 20%;
    height: 25px;
    line-height: 25px;
	float: right;
	text-align: center;
	border-left: 0px #CCCCCC solid;
	border-right: 0px #CCCCCC solid;
}

/** 日历样式覆盖 */
.TS_KS_CAL .scalender {
	margin-top: 0;
}

.TS_KS_CAL .scalender .ui-widget-header {
	background-image: none;
	background-color: #ffffff;
}

.TS_KS_CAL .ui-widget-header {
	background-image: none;
	background-color: #EEEEEE;
	color: #7D775C;
}

/* 当前日期显示在首页的样式 */
.currentDayShow a{
     background: red !important;
     margin:0 auto;
     width:26px;
     border-radius:  35px !important;
     color:white !important;
}

/**引入雪碧图的路径显示*/
.scalender .ui-widget-header .ui-icon {
	background-image:
		url("images/rh-icons.png");
}
.TS_KS_CAL .ui-datepicker-prev{
/* 	margin-left:10px; */
}
.TS_KS_CAL .ui-datepicker-next{
	
}

.TS_KS_CAL .scalender .ui-datepicker .ui-datepicker-prev, .TS_KS_CAL .scalender .ui-datepicker .ui-datepicker-next
	{
	border-left: 0px solid #CCCCCC;
	width: 20px;
	border-right: 0px solid #CCCCCC;
}

.TS_KS_CAL .scalender .ui-widget-header .ui-state-hover, .TS_KS_CAL .scalender .ui-widget-header .ui-datepicker-prev .ui-state-hover,
	.TS_KS_CAL .scalender .ui-widget-header .ui-datepicker-next.ui-state-hover,
	.TS_KS_CAL .ui-datepicker-prev-hover, .TS_KS_CAL .ui-datepicker-next-hover,
	 {
	background-image: none;
	background-color: #CCCCCC;
}
.TS_KS_CAL .scalender .ui-datepicker-prev-hover, 
.TS_KS_CAL .scalender  .ui-datepicker-next-hover{
	background-color: #ffffff;
}
.TS_KS_CAL .scalender .ui-datepicker {
	margin-right: 0;
}

.TS_KS_CAL .scalender .ui-datepicker .ui-datepicker-title {
	position: relative;
	right: 0px;
	margin-left: 15%;
	margin-right: 12%;
	text-align: left;
	height: 33px;
	line-height: 33px;
	color: #333333;
}

.TS_KS_CAL .scalender .ui-state-hover, .TS_KS_CAL .scalender .ui-widget-content .ui-state-hover,
	.TS_KS_CAL .scalender .ui-state-focus, .TS_KS_CAL .scalender .ui-widget-content .ui-state-focus,
	.TS_KS_CAL .scalender .ui-widget-header .ui-state-focus {
	background-image: none;
	background-color: #fff;
	font-weight: normal;
	color: blue;
}

.TS_KS_CAL .scalender .ui-state-highlight, .TS_KS_CAL .scalender .ui-widget-content .ui-state-highlight,
	.TS_KS_CAL .scalender .ui-widget-header .ui-state-highlight {
	background-image: none;
	font-weight: bold;
	color: red;
}

.scalender .ui-datepicker .ui-datepicker-title {
	font-size: 13px;
}

.TS_KS_CAL .title_ksrl {
	color: #ffffff;
	font-family: "Arial Negreta", "Arial";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
}

/*首页 待办/提醒 样式*/
#todo-panel>.panel-body {
	min-height: 200px;
}

/*待办项样式*/
.index-qt-todo-list .todo-item {
	padding: 0 0 10px 0;
	border-bottom: 1px solid #F4F1F8;
	position: relative;
	margin-bottom: 5px;
}

.index-qt-todo-list .todo-item:last-child {
	border-bottom: none;
}

.index-qt-todo-list .todo-item>.todo-circle {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

/*圆 颜色样式*/
.index-qt-todo-list .todo-item>.jiekao {
	background-color: #57a777;
}

.index-qt-todo-list .todo-item>.yiyi {
	background-color: #ff9000;
}

.index-qt-todo-list .todo-item>.qijia {
	background-color: #a583ab;
}

.index-qt-todo-list .todo-item>.yichang {
	background-color: #fef8f1;
}

.index-qt-todo-list .todo-item>.todo-content {
	margin-left: 52px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

/*待办更多a标签样式*/
.index-list-more-a {
	color: black;
	float: right;
	cursor: pointer;
	font-size: 12px;
	line-height: 20px;
    position: absolute;
    right: 20px;
}

/*待办更多链接悬浮不变色*/
.index-list-more-a:hover {
	color: black;
}

/*首页 可申请报名列表*/
#apply-panel>.panel-body {
	min-height: 190px;
}

#apply-table>tbody>tr:nth-of-type(even) {
	background-color: Azure;
}

#apply-table>thead>tr>th {
	padding: 10px;
}

#apply-table>tbody>tr>td {
	padding: 10px;
}
#apply-table{
	table-layout: fixed;
}
#apply-table td{
	text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 首页可参加考试样式（ 三个标签样式）*/

#ksTable>li>a>span{
	color:red;
}
#ksTable>li{
	padding:5px 5px;
}
#ksTable .active{
	background-color:#e85d5f;
}
#ksTable .active>a{
	background-color:#e85d5f;
/* 	border:1px solid red; */
	color:white;
}
#ksTable .active>a>span{
	background-color:#e85d5f;
	color:white;
}

#tab-zgks>table{
	/* 只有定义表格的布局算法为fixed，下面的td才能起作用 */
 	table-layout:fixed;
 	width:98%;
}
#tab-zgks .grid-tbody{
	width:90%;
}
#tab-zgks td{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	width:100%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#tab-zgks>table>tbody>tr:nth-of-type(even) {
	background-color: Azure;
}

#tab-zsjs>table{
	/* 只有定义表格的布局算法为fixed，下面的td才能起作用 */
 	table-layout:fixed;
 	width:98%;
}
#tab-zsjs .grid-tbody{
	width:90%;
}
#tab-zsjs td{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	width:100%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#tab-zsjs>table>tbody>tr:nth-of-type(even) {
	background-color: Azure;
}

#tab-qtks>table{
	/* 只有定义表格的布局算法为fixed，下面的td才能起作用 */
 	table-layout:fixed;
 	width:100%;
}
#tab-qtks .grid-tbody{
	width:90%;
}
#tab-qtks td{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	width:100%;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#tab-qtks>table>tbody>tr:nth-of-type(even) {
	background-color: Azure;
}

/*首页通知公告样式*/
/*超出省略号*/
#announcement-box .table {
	table-layout: fixed;
	margin-top: 10px;
}

#announcement-box .table tr td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

/*通知公告标题*/
.gg-title {
	display: inline;
	color: black;
}

.gg-title:hover, .gg-title:active {
	color: black;
}
/* //首页logo的图片 */
#logo_img1 {
	position: relative;
	left: 30px;
	top: 4px;
	width: 300px;
}

#logo_img2 {
	position: relative;
	left: 30px;
	top: 4px;
}

/* 左导航栏的用户信息界面 */
#userInfo div:first-child {
/* 	position:absolute; */
/*     left: 35px; */
	font-family: '微软雅黑 ', '微软雅黑 Regular', '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
/* 	text-align: center; */
}
#userInfo div:last-child {
/* 	position:absolute; */
/* 	left: 60px; */
    top: 40px;
    font-size:14px;
	font-family: '微软雅黑 ';
    font-weight: 400;
    font-style: normal;
    color: #1ADFE7;
/*     text-align: center; */
}

/** 首页导航栏各按钮的字体样式*/
.siderbar-menu li a{
/* 	font-size:16px; */
    font-family: '微软雅黑 ', '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}
.skin-black .sidebar a{
	font-family: '微软雅黑 ', '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color:#58c4df;
    text-align: left;
    line-height: normal;
}
.info-left{
	border-right:1px solid ;
}
/* 前台首页可参加考试的样式 */
.qt_ks_title>ul>li{
	display:inline-block;
/* 	positon:relative; */
	margin:0 auto;
	padding-left:25px;
}

