body {
	font-size:1em;
	color:#4f6b72;
}

.div100 {
	width:100%;
	height:100%;
}

.ttable {
	padding:0 0;
	margin:auto auto;
	border-top:1px solid #91BDEA;
	border-left:1px solid #91BDEA;
}

/*100%的宽度*/
.width100 {
	width:100%;
}

/*800像素宽度*/
.width800 {
	width:800px;
}

/*红头文字*/
.redHead {
	margin-bottom:30px;
	color:red;
	font-size:27px;
	line-height:24px;
	font-family:华文中宋,宋体;
	letter-spacing:5pt;
	text-align:center;
	background-color:white;
}

.ttable th {
	border-right:1px solid #91BDEA;
	border-bottom:1px solid #91BDEA;
	background:#fff; 
	padding:6px 6px; 
	height: 27px;
}

.ttable td {
	border-right:1px solid #91BDEA;
	border-bottom:1px solid #91BDEA;
	background:#fff; 
	padding:6px 6px; 
	color:#4f6b72; 
	height: 27px;
}

.ttable td.label {
	text-align:right;
	padding-right:10px;
	width:20%;
}

/*td内容居中*/
.tdCenter {
	text-align:center;
}

.ttable td table tr td {
	border:0px
}

.mindFoot {
	float:right;
}

/*最小100像素高度*/
.ttable td.minHeight100 {
	height:100px;
}

/*最小200像素高度*/
.ttable td.minHeight200 {
	height:200px;
}

p {
	text-indent:2em;
	line-height:120%;
	margin-top:5px;		
}

/*打印分页标示*/
p.page { 
	page-break-after: always;
} 
